// Background
$bodyColor: #ffffff;


// Colors
$subTitle: #898F8F;
$subText: #333333;
$subColor: #FFCC00;
$mainColor: #666666;

// Borders
$radiusDefault: 5px;


// Fonts
$mainSubTitle: 'Raleway400';
$secondFonts: 'Raleway500';
$titleFont: 'Roboto900';
$buttonFont: 'OpenSans';